nav,
.nav {
    color: white;
    background-color: black;
}

main,
.main {
    background: linear-gradient(#A6ADF2, black);
    color: white;
    
    /* background: linear-gradient(#A6ADF2, black); */
}

.banner {
    width: 100%;
    height: auto;
}
form {
    text-align: left;
}
.btn1 {
    color: black;
    background-color: white;
    font-weight: bold;  
}

.btn2 {
    color: black;
    background-color: white;
    font-weight: bold;  
}

section {
    background-color: blueviolet;
    border-radius: 5px;
    border: solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 5px 5px;
    width:fit-content;
}

.link {
    color: #A6ADF2;
}

.link2 {
    color: black;
}

footer,
.footer {
    background: linear-gradient(to top, #A6ADF2, black);
    color: white;
}

.flashy-text {
    color: aqua;
    animation: blink-animation 0.2s steps(5, start) infinite;
    -webkit-animation: blink-animation 0.2s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}